

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.marqueeContent {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
