.tableWrapper {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.salaryTable {
  min-width: 1200px; /* or more depending on your table size */
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.salaryTable th,
.salaryTable td {
  border: 1px solid #000;
  padding: 6px 10px;
  text-align: center;
}

.salaryDetails {
  background-color: #fdd835;
}

.daysWorked {
  background-color: #81c784;
}

.earningDetails {
  background-color: #90caf9;
}

.deductions {
  background-color: #ef9a9a;
}

.totalRow {
  background-color: #e0e0e0;
  font-weight: bold;
}
